:root {
    --colorGold:rgb(255, 182, 0);
    --colorRed:rgb(215, 0, 0);
    --colorBlack: rgb(20,20,20);
    font-family: 'Bebas Neue', cursive;
}

body {
    margin: 0;
     
    overflow-x: hidden;
    background-color: #080808;
    


}

a {
    color: var(--colorGold);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.main-quote {    
    border-top: 3px solid var(--colorRed);    
}

.quote {
   /* min-height: 30vh;  */
   margin-top: 20px;
   width: 100vw; 
   font-size: 6.5em; 
   text-align: center;
   color: antiquewhite;
   z-index: 2;
   position: absolute;
   text-shadow: 5px 5px var(--colorRed);
   
}

.quote-source {
    padding: 5px;
    
    
    
}

.container {
    margin: 0 auto;
    height: 100vh;
    background-color: var(--colorRed);
    max-width: 1400px;
    background-image: url("static/restaurant-background.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    
}

.navbar {
    margin: 0 auto;
    min-width: 1400px;
    max-width: 1800px;
    max-height: 4em;
    
    background-color: #080808;    
    padding: 2em;
    color: var(--colorGold);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    
    
    
}

.restaurant-name {
    font-size: 2em;
    margin-top: .3em;
    color: var(--colorRed);
        
}

.roar {
    position: absolute;
    display: none;
}

a:hover {
    filter: drop-shadow(0 0 0.75rem var(--colorGold))
}

.restaurant-name:hover {
    filter: drop-shadow(0 0 0.75rem var(--colorRed))
}

.restaurant-name:hover ~ .roar {
    display: inline;
    filter: drop-shadow(0 0 0.75rem var(--colorGold))
}

.second-bg {
    margin-top: 30em;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--colorGold);
    background-image: url("static/sushi.jpg.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    
}

.third-bg {
    height: 40vh;
    width: 100vw;
    position: absolute;
    background-image: url("static/fried-chicken.jpg");
    background-blend-mode: multiply;
    background-attachment: fixed;
    border-bottom: 3px solid var(--colorGold);
}

.copy-header {
    font-family: 'Yantramanav', sans-serif;
    font-size: 3.5em;
    color: rgba(230, 230, 230, .9);
    text-shadow: 5px 5px var(--colorBlack);
    margin-left: 2rem;
    margin-top: 2em;
}

.copy-body {
    font-family: 'Yantramanav', sans-serif;
    font-size: 2.5em;
    color: rgba(230, 230, 230, .9);
    text-shadow: 5px 5px var(--colorBlack);
    margin-left: 2rem;
    
}
